<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>

    <link rel="stylesheet" href="/resource/css/reset.css"/>
    <link rel="stylesheet" href="/resource/css/common.css"/>
    <link rel="stylesheet" href="/resource/css/grid.css"/>
    <link rel="stylesheet" href="/resource/css/layout.css"/>    
    <link rel="stylesheet" href="/resource/css/skin.css"/>

    <base target="_blank"/>
</head>
<body>
<div class="doc">        
    <div class="hd md">
        <div class="container grid-3c1 clearfix">
            <div class="pct-1o3">
                <a class="" href="http://"><img src="http://p0.qhimg.com/t012049db1b713bf793.png"/></a>
                <span class="sub-title"><%=title%></span>
            </div>

            <div class="pct-2o3">
                <div class="wisdom-container">
                <p class="wisdom"><span><%=wisdom[0].txt%></span> <a class="js-add-wisdom" href="###">[+_+]</a></p>

                    <div class="wisdom-poster js-wisdom-poster">
                        <h3>添加我的吐槽</h3>
                        <input type="text" class="ipt js-ipt" name="wisdom"/> 
                        <button type="button" class="btn js-btn">OKay，就这么愉快地写完了。</button>

                        <a href="###" class="close js-close" title="关闭"></a>
                    </div> 
                </div>  
            </div>
        </div>
    </div>

    <div class="bd md">
        <div class="container relative-container grid-5c1 clearfix">
            <div class="toolbar clearfix">
                <span>欢迎你，</span>
                <em><a target="_self" href="/user/detail"><%=user_info.displayName%></a></em>
                <form action="http://www.so.com/s" target="_blank" class="search-form">
                    <input type="text" class="ipt" name="q" autocomplete="off" placeholder="so.com">
                    <input type="hidden" name="ie" value="utf-8">
                    <button type="submit" class="btn search-btn"></button>
                </form>
            </div>  

            <div class="main">     
                <%include menu.html %>

                <div class="pct-4o5">
                    <div class="websites-container">
                        <h3 class="websites-title">您所在组的公共网址和您的收藏</h3>
                        <ul id="websites" class="websites clearfix">

                        </ul>  
                        <i class="websites-controll" data-show-managing="返回我的网址" data-show-normal="管理我的网址">管理我的网址</i>

                        <div class="website-manage-panel">
                            <form class="manage-form">
                                <dl class="form-cell clearfix">
                                    <dt>网站名称</dt>
                                    <dd>
                                        <input type="text" id="sitename" class="ipt sitename"/>
                                        <span class="error"></span>
                                    </dd>
                                </dl>
                                <dl class="form-cell clearfix">
                                    <dt>网站地址</dt>
                                    <dd>
                                        <input type="text" id="siteurl" class="ipt siteurl"/>
                                        <span class="error"></span>
                                    </dd>
                                </dl> 
                                <div class="form-cell btn-line">
                                    <button class="btn btn-finish" type="button">完成</button>
                                    <button class="btn btn-cancle" type="button">取消</button>
                                    <input id="last-data-id" type="hidden">
                                </div> 
                            </form>                       
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</div>

<div id="js-tips" class="tips" style="display:none;">
    <a href=""></a>
</div>   

</body>
<%include js.html %>

<script data-main="scripts/main" src="/resource/js/page/websites.js"></script>
</html>