.grid-1c,
.grid-2c1,
.grid-2c2,
.grid-3c1,
.grid-4c1,
.grid-5c1{width:100%;margin:0 auto;*zoom:1;}

/* percent */
.pct-1o5{width:20%;float:left;}
.pct-1o4{width:25%;float:left;}
.pct-1o3{width:33.3%;float:left;}
.pct-1o2{width:50%;float:left;}
.pct-2o5{width:40%;float:left;}
.pct-3o5{width:60%;float:left;}
.pct-2o3{width:66.6%;float:left;}
.pct-3o4{width:75%;float:left;}
.pct-4o5{width:80%;float:left;}
.pct-1o1{width:100%;}