html {
     background: url(http://p1.qhimg.com/d/_hao360/my360/2/outer_bg5.png) repeat-x #f4e0ab;
}

.doc {
    height:60em;
    font-size : 1.4em;
    background: url(http://p1.qhimg.com/d/_hao360/my360/2/inner_bg5.jpg) no-repeat top center ;
}

.error {
    color : #e60012;
}

.hd {
    border : .1em solid #b7b7b7;
    border-radius : .8em;
    background:#fff url(http://p0.qhimg.com/t01135ef7e88f54df61.jpg) right center no-repeat;
    opacity: .7;
}

.sub-title{
    font-size:1.4em;
    font-weight: bold;
    color:#555;
    text-shadow: -.03em .03em .03em #666;
}

.wisdom {
    font-size:1.8em;
    text-shadow: .08em .08em .08em #ccc;
    color:#999;
}

.wisdom a , .wisdom a:visited , .wisdom a:active{
    font-size:.5em;
    text-shadow: none;
    text-decoration: none;
}

.wisdom-poster {
    display:none;
    border: 1px dotted #333;
    background : #fff;
    border-radius: 3px;
}

.wisdom-poster .ipt {
    border-radius: 3px;
    padding: 0 .5em;
}

.wisdom-poster .close{
    background: url(http://p7.qhimg.com/t012baa59bdfe70ffab.gif) no-repeat;
    background-position: -219px -130px;
}

.wisdom-poster .close:hover{
    background-position: -262px -130px;
}

.wisdom-poster .btn {
    background : #666;
    color:#fff;
    border-radius:.2em;
}

.wisdom-poster .btn:hover {
    background : #999;
    color:#eee;
}

.toolbar {
    letter-spacing: normal;
    font-size:1em;
    border-radius : .3em;
    color:#333;
}

.search-form .search-btn{
    background: url('http://p6.qhimg.com/t01b5c22714b8e58586.png') no-repeat 0 8px;
} 

.menu {
    border : .1em solid #b7b7b7;
    border-radius : .3em;
    background:#fff;
    opacity: .8;
}

.menu li a , .menu li a:visited { 
    color: #666;
    text-decoration: none;
}    

.menu li a:hover , .menu .active a ,  .menu .active a:visited {
    color: #fff;
    background : #6e6f6d;
    text-decoration: none;
    border-radius: 3px;
}

.websites-container {
    background:#fff;
    opacity: .8;
    border-radius: 3px;    
} 

.websites-controll {
    background:url(http://p1.qhimg.com/t0117eace0d90c96012.png) no-repeat 0 4px;
    cursor:pointer;
    color:#777;
}

.websites-controll:hover {
    color:#e60012;
}

.websites a{
    border:.1em dotted #ccc;
    border-radius: 2px;
    text-decoration: none;
}

.websites a li{
    background: #ffffef;
    text-decoration: none;
    color:#333;
    font-size : 1em;
}

.websites a:hover li{
    background: #d6f5ff;
}

.websites .btn-del , 
.websites .btn-edit , 
.tips .btn-del , 
.tips .btn-edit {
    background : url(http://p1.qhimg.com/d/_hao360/my360/icon_20120218.png) no-repeat;
    cursor : pointer;
    display:none;
}

.tips {
    border:.1em dotted #ccc;
    font-size:1.4em;
    border-radius: 2px;
}

.tips-ok {
    background-color:#ff9;
} 

.tips-error {
    background-color:#fcc; 
}

.managing a {
    cursor : move;
}

.websites .moving li{
    color:#ddd;
}

.websites .dragover {
    -webkit-animation:dragoverme 1.5s linear infinite;
    -moz-animation:dragoverme 1.5s linear infinite;
    -ms-animation:dragoverme 1.5s linear infinite;    
    animation:dragoverme 1.5s linear infinite;    
}

@-webkit-keyframes dragoverme{
    0%{
        opacity:.1;
    }   
    20%{
        opacity:1;
    }
    40%{
        opacity:.1;
    }
    60%{
        opacity:1;
    }  
    80%{
        opacity:.1;
    }             
    100%{
        opacity:1;
    }
}

@-moz-keyframes dragoverme{
    0%{
        opacity:.1;
    }   
    20%{
        opacity:1;
    }
    40%{
        opacity:.1;
    }
    60%{
        opacity:1;
    }  
    80%{
        opacity:.1;
    }             
    100%{
        opacity:1;
    }
}


@-ms-keyframes dragoverme{
    0%{
        opacity:.1;
    }   
    20%{
        opacity:1;
    }
    40%{
        opacity:.1;
    }
    60%{
        opacity:1;
    }  
    80%{
        opacity:.1;
    }             
    100%{
        opacity:1;
    }
}

@keyframes dragoverme{
    0%{
        opacity:.1;
    }   
    20%{
        opacity:1;
    }
    40%{
        opacity:.1;
    }
    60%{
        opacity:1;
    }  
    80%{
        opacity:.1;
    }             
    100%{
        opacity:1;
    }
}

.managing .btn-del ,
.managing .btn-edit , 
.tips .btn-del , 
.tips .btn-edit {
    display:block;
}

.managing .btn-del ,  .tips .btn-del{
    background-position: -76px 0;
}

.managing li:hover .btn-del {
    background-position: -56px 0
}

.managing .btn-edit , .tips .btn-edit  {
    background-position: 0 -19px;
}

.managing li:hover .btn-edit {
    background-position: 0 -40px;
}

/* 本组网址，不许删，不许改 */
.protected1 i.btn-edit ,  
.protected1 i.btn-del {
    display:none;
}

/* 其他组网址，许删，不许改 */
.protected2 .btn-edit{
    display: none;
}

.websites .protected1 li , .websites .protected2 li{
    background:url(http://p2.qhimg.com/t01cc73f5cf28be899c.png) no-repeat;
}

.websites .protected1 li:hover , .websites .protected2 li:hover{
    background:url(http://p5.qhimg.com/t0151e54043512d1d2e.png) no-repeat;
}

.website-manage-panel {
    display: none;
    border-top : 1px solid #25ace3;
}

.form-cell {
    font-size: 1em;
    color:#333;
}

.form-cell .ipt {
    color:#333;    
}

.btn-line .btn , .search-bar .btn{
    background:url(http://p1.qhimg.com/d/_hao360/my360/bg_input_20120222.png) 0 -88px ; 
    width: 74px;
    height: 34px;
    text-align: center;
    border: 0;
    color:#333;
}

.btn-line .btn:hover , .search-bar .btn:hover{
    background-position: 0 -131px;
}

.search-bar {
    background: #fff;
    opacity: .8;
    border-radius: 3px;
}

.suggest {
    border: 1px solid #919191;
    border-top:none;
    background: #f9f9f9;
    overflow: hidden;
    display: none;
}

.sug-name {
    font-size: 14px;
    color: #333;
}

.sug-href {
    font-size: 14px;
    color: #333;
}

.suggest .hover {
    background: #f0f0f0;
}

.ft {
    background : #fff;
    opacity: .8;
    border-radius: .3em;
    border: 1px solid #b7b7b7;
    font-size:16px;
    text-decoration: none;
}

.glyphicon-github {
    background: url(http://p8.qhimg.com/t01bc4074de75b81eda.png) no-repeat;
    -webkit-background-size: 1.6em 1.6em;
    background-size: 1.6em 1.6em;
}